<section class="encabezado animated fadeIn">
	<br>
	<strong><h5>Ventas Activas</h5></strong>
	<hr>
</section>
<section class="contenedor animated fadeIn fast">
	<section style="margin-bottom: 5px;">
		<article class="derecha">
			<button type="button" class="btn btn-primary" [ngClass]="{'btn-sm': isMobileSize()}" routerLink="registrar">
				<i class="fa fa-plus fa-lg" aria-hidden="true"></i>
				<span class="btnNuevo">Nueva Venta</span>
			</button>
		</article>
	</section>
	<article class="table-responsive">
		<table class="table table-hover table-sm">
			<thead class="btn-primary disabled">
				<tr>
					<th>Folio Venta</th>
					<th>Clave Cliente</th>
					<th>Nombre</th>
					<th>Total</th>
					<th>Fecha</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let v of (ventas | keys); let i=index">
					<th scope="row">{{ ventas[v].idVenta }}</th>
					<td>{{ ventas[v].codCliente }}</td>
					<td>{{ ventas[v].nombre }}</td>
					<td>{{ ventas[v].total | currency:'MXN':true }}</td>
					<td>{{ ventas[v].fecha | date:'shortDate' }}</td>
				</tr>
			</tbody>
		</table>
	</article>
</section>
