<section class="contenedor mt-4">

  <div class="card bg-primary mb-3" style="max-width: 100%;">
    <div class="card-header text-white">Registro de Ventas</div>
    <div class="card-body bg-light inline-block">
      <h6 class="card-title text-success text-right">Folio Venta: {{ folio }}</h6>
      <form (submit)="onSubmit()">
        <section class="container">
          <div class="row">
            <div class="input-group w-50">
              <ng-template #rt let-r="result">{{ r.nombre+' '+r.apellidoP+' '+r.apellidoM }}</ng-template>
              <span class="badge badge-primary px-3 pt-2" style="width:80px;">Cliente</span>
              <input type="text" class="form-control" [(ngModel)]="clientsModel" [ngModelOptions]="{standalone: true}" [ngbTypeahead]="searchClients" [resultTemplate]="rt" [inputFormatter]="clientsFormatter" placeholder="Buscar cliente...">
            </div>
            <div class="w-50 pl-3" *ngIf="selected()">
              <span id="rfc">RFC: {{ clientsModel.rfc }}</span>
            </div>
          </div>
          <hr class="bg-primary">
          <div class="row">
            <div class="input-group w-50">
              <ng-template #rta let-r="result">{{ r.descripcion }}</ng-template>
              <span class="badge badge-primary px-3 pt-2" style="width:80px;">Artículo</span>
              <input type="text" class="form-control" [(ngModel)]="articlesModel" [ngModelOptions]="{standalone: true}" [ngbTypeahead]="searchArticles" [resultTemplate]="rta" [inputFormatter]="articlesFormatter" placeholder="Buscar Artículo...">
            </div>
            <div class="w-50 pl-3">
              <i class="fa fa-plus-square" (click)="addNewArticle(articlesModel)"></i>
            </div>
          </div>
          <article id="addedArticles" class="table-responsive mt-3">
            <table class="table table-hover table-sm">
        			<thead>
        				<tr>
        					<th>Descripción Artículo</th>
        					<th>Modelo</th>
        					<th>Cantidad</th>
        					<th>Precio</th>
        					<th>Importe</th>
                  <th></th>
        				</tr>
        			</thead>
        			<tbody>
        				<tr *ngFor="let a of (addedArticles | keys); let i=index">
        					<td>{{ addedArticles[a].descripcion }}</td>
        					<td>{{ addedArticles[a].modelo }}</td>
        					<td>
                    <input [id]="'cantidad'+i" type="number" class="form-control" [(ngModel)]="addedArticles[a].cantidad" [ngModelOptions]="{standalone: true}" autofocus [value]="addedArticles[a].cantidad" [max]="addedArticles[a].existencia" min="1">
                  </td>
                  <td>{{ calcularPrecio(addedArticles[a]) | currency:'MXN':true }}</td>
                  <td>{{ calcularImporte(addedArticles[a]) | currency:'MXN':true }}</td>
        					<td>
                    <i class="fa fa-times text-danger" (click)="removeArticle(i)"></i>
                  </td>
        				</tr>
        			</tbody>
        		</table>
          </article>
          <article id="cantidadesTotales" *ngIf="addedArticles.length>0" class="text-right">
            <span class="badge badge-secondary">Enganche: {{ calcularEnganche() | currency:'MXN':true }}</span>
            <br>
            <span class="badge badge-secondary">Bonificación Enganche: {{ calcularBonificacion().toFixed(2) | currency:'MXN':true }}</span>
            <br>
            <span class="badge badge-secondary">Total: {{ (importeTotal - calcularEnganche() - calcularBonificacion()).toFixed(2) | currency:'MXN':true }}</span>
          </article>
        </section>
      </form>
      <section *ngIf="nextSection" id="abonosMensuales">
        <article class="table-responsive">
          <table class="table table-hover table-sm">
            <thead class="bg-secondary">
              <th colspan="5" class="text-center text-white"><strong>ABONOS MENSUALES</strong></th>
            </thead>
            <tbody>
              <tr *ngFor="let p of plazos">
                <td>{{ p }} ABONOS DE</td>
                <td>{{ calcularTotalAPagar(p) / p | currency:'MXN':true }}</td>
                <td>TOTAL A PAGAR {{ calcularTotalAPagar(p) | currency:'MXN':true }}</td>
                <td>SE AHORRA {{ (importeTotal - calcularEnganche() - calcularBonificacion()) - calcularTotalAPagar(p) | currency:'MXN':true }}</td>
                <td>
                  <label class="custom-control custom-radio">
                    <input [(ngModel)]="abono" name="abono" type="radio" class="custom-control-input" [value]="p">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"></span>
                  </label>
                </td>
              </tr>
            </tbody>
          </table>
        </article>
      </section>
    </div>
  </div>

  <div class="text-right">
    <button type="button" class="btn btn-success mr-3" [routerLink]="['../']">Cancelar</button>
    <button *ngIf="!nextSection" type="button" class="btn btn-success" (click)="next()">Siguiente</button>
    <button *ngIf="nextSection" type="button" class="btn btn-success" (click)="onSubmit()">Guardar</button>
  </div>
</section>

<br><br>
