.contenedor{
	margin: 0 auto;
	max-width: 1024px;
	padding: 0px 5px 0px 5px;
}

.encabezado{
	margin: 0 auto;
	max-width: 1024px;
	padding: 0px 0px 0px 5px;
}

/*................................................................ Animaciones */
.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from { opacity: 0; }

  to { opacity: 1; }
}

.fadeIn {
  animation-name: fadeIn;
}
